.navbar {
    background-color: #999999;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-contain {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar-logo {
    color: #000;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: -22px;
}

.nav-item {
    height: 80px;
}

.nav-links {
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.nav-links:hover {
    border-bottom: 3px solid #000;
}

@media screen and (max-width:960px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active {
        background-color: #f2f2f2;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-item {
        height: 60px;
        border-bottom: 2px solid #f2f2f2;
        width: 100%;
    }
    .navbar-toggle {
        position: absolute;
        top: 10px;
        cursor: pointer;
        color: #000;
        font-size: 1.8rem;
        display: none;
    }
    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
    .nav-links {
        text-align: center;
        padding: 1.5rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover {
        background-color: #fff;
        color: #000;
        border-radius: 0;
    }
    .nav-menu.active {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        width: 100%;
        height: calc(100vhh - 80px);
    }
    .nav-menu.active li {
        opacity: 1;
    }
    .nav-menu.active li a {
        color: #000;
    }
    .nav-menu.nav-menu.active li a:hover {
        background-color: #000;
        color: #fff;
        border-radius: 0;
    }
    .fa-times {
        color: #000;
        font-size: 2rem;
        position: absolute;
        top: 1.2rem;
        right: 1.5rem;
        cursor: pointer;
    }
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.headerUl {
    display: flex;
}

li {
    list-style: none;
    margin-left: 10px;
}

#wrapper {
    /* padding-left: 0; */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    /* padding-left: 250px;*/
}

#sidebar-wrapper {
    width: 280px;
    position: fixed;
    left: 0;
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.main {
    margin-left: 220px;
    background: #E5E5E5;
    padding: 10px;
}

.section1 {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    background: #E5E5E5;
}

.section2 {
    margin-top: 50px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 180px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.my-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    box-shadow: 5px;
}

.my-table th,
.my-table td {
    padding: 10px;
    text-align: left;
}

.my-table th {
    background-color: #fff;
    font-weight: bold;
}

.my-table td {
    border-bottom: 1px solid #d8d1d1;
    font-size: 14px;
}

.my-table tr:nth-child(even) {
    background-color: #ffff;
}

.static {
    display: flex;
    justify-content: space-between;
}

.form-box {
    min-width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    margin: 0vw;
    padding: 5vw;
    position: relative;
    /* position:relative for .prevBtn and .nextBtn position:absolute; */
}

.form-box h5 {
    font-size: 35px;
    text-align: center;
    color: #f55a00;
    margin: 0 0 0.5vh 0;
}

.form-box label {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0 0 2vh 0;
}

.form-box input,
textarea {
    display: block;
    width: 100%;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    margin: 0.9vw 0;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
}

.form-box textarea {
    height: 15vh;
}

.prevBtn,
.nextBtn {
    display: inline-block;
    width: 30%;
    height: 2rem;
    color: red;
    border: 0;
    bottom: 0;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
}

.prevBtn {
    margin: 1rem 0 1rem 0;
    border-radius: 20px 0 0 20px;
}

.nextBtn {
    margin: 1rem 0 1rem 8rem;
    margin-left: 52%;
    border-radius: 0 20px 20px 0;
}

.nextBtn:hover,
.prevBtn:hover {
    background-color: rgb(245, 245, 78);
    transition: 1s background ease;
}


/*margin: top right bottom left;*/

.nextBtn {
    margin-left: 52%;
}

.prevBtn,
.nextBtn {
    margin: 1rem 0 1rem 0;
    display: inline-block;
}