.my-table {
    box-shadow: 5px;
    padding-left: 10px;
    th,
    td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid rgb(83, 81, 81);
        font-size: 16px;
        th {
            font-weight: bold;
            .tableName {
                cursor: pointer;
            }
            td {
                border-bottom: 1px solid #d8d1d1;
                border-bottom: 1px solid rgb(83, 81, 81);
                tr:nth-child(even) {
                    background-color: #ffff;
                }
            }
        }
    }
    .tableName {
        cursor: pointer;
    }
    .static {
        display: flex;
        justify-content: space-between;
    }
}

td {}

.fo {
    display: flex;
}