.my-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    box-shadow: 5px;
    th,
    td {
        padding: 5px;
        text-align: left;
        th {
            background-color: #fff;
            font-weight: bold;
            .tableName {
                cursor: pointer;
            }
            td {
                border-bottom: 1px solid #d8d1d1;
                font-size: 14px;
                tr:nth-child(even) {
                    background-color: #ffff;
                }
            }
        }
    }
    .tableName {
        cursor: pointer;
    }
    .static {
        display: flex;
        justify-content: space-between;
    }
}