.main {
    background: #E5E5E5;
    padding: 60px;
    margin-left: 250px;
}

.userTable {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 5px;
}

.flex {
    display: flex;
    flex-direction: column;
}