.main {
    display: flex;
    background: #E5E5E5;
    gap: 40px;
    transition: 0.5s linear;
}

.sider {
    width: 18%;
}

.useTable {
    width: 80%;
    //background-color: red;
    padding: 10px;
}

.userTable {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 5px;
}

@media screen and (max-width: 700px) {
    .useTable {
        width: 100%;
        //background-color: red;
        padding: 10px;
    }
    .sider {
        width: 40px;
        ///height: auto;
    }
}