.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background: #E5E5E5;
}

header {
    grid-row: 1/-1;
}

.man {
    display: flex;
    flex-direction: row;
}